* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER STYLES */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .title {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

header .title h1 {
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
  color: #0e0e0e;
}

header .title img {
  width: 23px;
  height: 23px;
}

header nav a {
  text-decoration: none;
  color: #090909;
  font-size: 0.75rem;
  font-weight: 600;
  margin-left: 1.5em;
}

/* MAIN STYLES */
main {
  flex: 1;
  padding-top: 4em;
}

.main-post {
  position: relative;
  height: 300px;
  margin-bottom: 2rem;
  overflow: hidden;
}

.main-post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-post-content {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  color: #fff;
}

.main-post-content h2 {
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 0.3em;
}

.main-post-content .date {
  font-size: 0.75rem;
  margin-bottom: 0.3em;
}

/* FOOTER STYLES */
footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  background-color: #202020;
  font-size: 0.75rem;
}

footer p {
  color: #ececec;
  font-weight: 700;
  margin-bottom: 0.2em;
}

footer span {
  color: #d7d7d7;
}